{% extends "base.html" %}

{% block title %}Posts &amp; Articles{% endblock %}
{% block subtitle %}Articles{% endblock %}
{% block logo %}
    <center>
        <img src="static/oddslingers.png"/>
    </center>
{% endblock %}

{% block article %}
    <!--<canvas class="animated-color-grid" height="100"></canvas>-->
    <div class="container post">
        <div class="row articles">
            {% for post in POSTS.values() %}
                <div class="col-md-6 text-center article">
                    <a href="{{post.url}}">
                        <h2>{{post.title}}</h2>
                        <button class="btn btn-shadow text-mono btn-outline-secondary">
                            {{post.length}}
                        </button>
                    </a>
                    <div class="small">{{post.description}}</div>
                    <div class="post-tags">
                        {% for tag in post.tags %}
                            <span class="label">#{{tag}}</span>
                        {% endfor %}
                    </div>
                    <div class="author small">{{post.author.name}} - {{post.date}}</div>
                </div>
            {% endfor %}
        </div>
        <center>
            <div>For code &amp; projects, see the <a href="{{PAGES.code.url}}">{{PAGES.code.title}}</a> page.</div>
            <div class="library">
                <a href="https://github.com/Monadical-SAS" class="btn btn-shadow btn-success btn-dark">
                    <i class="fa fa-github"></i> Github
                </a>
                &nbsp; 
                <a href="https://twitter.com/OddSlingers" class="btn btn-shadow btn-success btn-outline-secondary btn-dark">
                    <i class="fa fa-twitter"></i> Twitter
                </a>
                &nbsp; 
                <a href="https://linkedin.com/OddSlingers" class="btn btn-shadow btn-success btn-outline-secondary btn-dark">
                    <i class="fa fa-linkedin"></i> LinkedIn
                </a>
            </div>
        </center>
</div>
    <canvas class="animated-color-grid" height="100"></canvas>
{% endblock %}
