{% extends "base.html" %}

{% block title %}Posts &amp; Articles{% endblock %}
{% block subtitle %}Articles{% endblock %}

{% block article %}
    <!--<canvas class="animated-color-grid" height="100"></canvas>-->
    <div class="container">
        <br/>
        <br/><br/>
        <div class="row">
            <div class="col-md-6 text-center">
                <h2>Designing a Distributed Banking System</h2>
                <small>2018/04/01 - Nick Sweeting</small><br/>
                <!--<p>Socket message router for django-channels</p>--><br/>
                <a href="https://github.com/Monadical-SAS" class="btn btn-sm btn-shadow btn-success btn-light" style="font-size: 14px">
                    Read
                </a>
                <br/><br/><br/><br/>
            </div>
            <div class="col-md-6 text-center">
                <h2>"Trustless" is a Myth</h2>
                <small>2018/04/01 - Max McCrea</small><br/>
                <!--<p>Socket message router for django-channels</p>--><br/>
                <a href="https://github.com/Monadical-SAS" class="btn btn-sm btn-shadow btn-success btn-light" style="font-size: 14px">
                    Read
                </a>
                <br/><br/><br/><br/>
            </div>
            <div class="col-md-6 text-center">
                <h2>Reonciling Django Templates &amp;<br/>React Components</h2>
                <small>2018/04/01 - Nick Sweeting</small><br/>
                <!--<p>Socket message router for django-channels</p>--><br/>
                <a href="https://github.com/Monadical-SAS" class="btn btn-sm btn-shadow btn-success btn-light" style="font-size: 14px">
                    Read
                </a>
                <br/><br/><br/><br/>
            </div>
            <div class="col-md-6 text-center">
                <h2>Using the Redux Store as a Database</h2>
                <small>2018/04/01 - Max McCrea</small><br/>
                <!--<p>Socket message router for django-channels</p>--><br/>
                <a href="https://github.com/Monadical-SAS" class="btn btn-sm btn-shadow btn-success btn-light" style="font-size: 14px">
                    Read
                </a>
                <br/><br/><br/><br/>
            </div>
            <div class="col-md-6 text-center">
                <h2>channels-router</h2>
                <p>Socket message router for django-channels</p>
                <a href="https://github.com/Monadical-SAS" class="btn btn-sm btn-shadow btn-success btn-light" style="font-size: 14px">
                    Read
                </a>
                <br/><br/><br/><br/>
            </div>
            
            <div class="col-md-6 text-center">
                <h2>channels-router</h2>
                <p>Socket message router for django-channels</p>
                <a href="https://github.com/Monadical-SAS" class="btn btn-sm btn-shadow btn-success btn-light" style="font-size: 14px">
                    Read
                </a>
                <br/><br/><br/><br/>
            </div>
            

            <div class="col-md-6 text-center">
                <h2>channels-router</h2>
                <p>Socket message router for django-channels</p>
                <a href="https://github.com/Monadical-SAS" class="btn btn-sm btn-shadow btn-success btn-light" style="font-size: 14px">
                    Read
                </a>
                <br/><br/><br/><br/>
            </div>
            <div class="col-md-6 text-center">
                <h2>channels-router</h2>
                <p>Socket message router for django-channels</p>
                <a href="https://github.com/Monadical-SAS" class="btn btn-sm btn-shadow btn-success btn-light" style="font-size: 14px">
                    Read
                </a>
                <br/><br/><br/><br/>
            </div>
        </div>


        <br/><br/><br/><br/>
        <center>
            For code &amp; projects, see the <a href="{{PAGES.code.url}}">{{PAGES.code.title}}</a> page.<br/><br/>
            <a href="https://github.com/Monadical-SAS" class="btn btn-shadow btn-success btn-dark">
                <i class="fa fa-github"></i> Github
            </a>
            &nbsp; 
            <a href="https://twitter.com/OddSlingers" class="btn btn-shadow btn-success btn-dark">
                <i class="fa fa-twitter"></i> Twitter
            </a>
            &nbsp; 
            <a href="https://linkedin.com/OddSlingers" class="btn btn-shadow btn-success btn-dark">
                <i class="fa fa-linkedin"></i> LinkedIn
            </a>
        </center>
        <br/><br/><br/><br/>
    </div>
    <canvas class="animated-color-grid" height="100"></canvas>
{% endblock %}
