<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>OddSlingers Labs</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One" >
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="css/bootstrap4-pleasant.min.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    
    <body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-light" data-toggle="affix">
                <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse text-center">
                        <ul class="navbar-nav navbar-left">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="team.html">Team</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="code.html">Code</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="articles.html">Articles</a>
                            </li>
                        </ul>
                        
                        <h1 class="nav-item">
                          <a href="#">OddSlingers <span style="font-kerning: 0.5">Labs</span></a>
                        </h1>

                        <ul class="navbar-nav navbar-right">
                            <li class="nav-item">
                                <a class="nav-link" href="whitepaper.html">Whitepaper</a>
                            </li>
                            <li class="nav-item" style="margin-left: 10px">
                                <a class="beta-btn nav-link btn btn-success btn-shadow" href="https://oddslingers.com/accounts/login/">
                                    ♠<span class="diamond">♦</span>
                                    Poker <span class="neon">BETA</span>&nbsp;
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <canvas class="animated-color-grid" height="200"></canvas>
        </header>

        <article class="container py-5">
            <h1 class="page-header">Recent Articles</h1>

            <div class="row">
                <div class="col-md-4">
                    <h2>#Code</h2>
                    <a href="https://github.com/HackerThemes/theme-machine" target="main">Architecting a Banking Service</a><br/>
                    <a href="https://github.com/HackerThemes/theme-machine" target="main">Reconciling Django and React</a><br/>
                    <a href="articles/Using the Redux Store Like a Database.html" target="main">Using the redux store as a database</a>
                </div>
                <div class="col-md-4">
                    <h2>#Poker #Esports</h2>
                    <a href="https://github.com/HackerThemes/theme-machine" target="main">Poker Theory</a><br/>
                    <a href="https://github.com/HackerThemes/theme-machine" target="main">ARticle 2342341 adsf</a><br/>
                    <a href="https://github.com/HackerThemes/theme-machine" target="main">Other article by Max</a>
                </div>
                <div class="col-md-4">
                    <h2 color="green">#Cryptocurrency</h2>
                    <a href="https://github.com/HackerThemes/theme-machine" target="main">Storycoin</a><br/>
                    <a href="https://github.com/HackerThemes/theme-machine" target="main">Trustless is a Myth</a><br/>
                    <a href="https://github.com/HackerThemes/theme-machine" target="main">Architecting a Banking Service</a>
                </div>
            </div>

            <iframe name="main" src="articles/Using the Redux Store Like a Database.html" onLoad="this.height=this.contentWindow.document.body.scrollHeight"></iframe>
        </article>

        <footer>
            <canvas class="animated-color-grid" height="40"></canvas>
            
            <div class="container text-center text-darkgrey">
                <div class="social-links">
                    <a href="https://twitter.com/OddSlingers" title="OddSlingers Twitter">
                        <i class="fa fa-twitter"></i>
                    </a> &nbsp; &nbsp;
                    <a href="https://facebook.com/OddSlingers" title="OddSlingers Facebook">
                        <i class="fa fa-facebook"></i>
                    </a> &nbsp; &nbsp;
                    <a href="https://reddit.com/r/OddSlingers" title="OddSlingers Reddit">
                        <i class="fa fa-reddit"></i>
                    </a> &nbsp; &nbsp;
                    <a href="https://t.me/OddSlingers" title="OddSlingers Telegram">
                        <i class="fa fa-telegram"></i>
                    </a> &nbsp; &nbsp;
                    <a href="https://discord.gg/USPweBy" title="OddSlingers Discord">
                        <i class="fa fa-gamepad"></i>
                    </a>
                </div>
                <br/>
                <a class="beta-btn nav-link btn btn-success btn-shadow" href="https://oddslingers.com/accounts/login/">
                    ♠<span class="diamond">♦</span> &nbsp;
                    Get <span class="neon">5,000</span> free chips &nbsp;
                    ♣<span class="diamond">♥</span>
                </a>
                <br/><br/>
                <small>OddSlingers © 2018</small>
                <br/><br/>
            </div>
        </footer>

        <script src="squares.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    </body>
</html>
