<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{SITE_TITLE}} | {% block title %}Home{% endblock %}</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One" >
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="/static/bootstrap4-pleasant.min.css">
        <link rel="stylesheet" href="/static/main.css">

        {% block head %}
        {% endblock %}
    </head>
    
    <body>
        {% block header %}
        <header>
            {% block headerbefore %}
            {% endblock %}

            <nav class="navbar navbar-expand-sm navbar-light" data-toggle="affix">
                <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample11" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse text-center">
                        <ul class="navbar-nav navbar-left" style="min-width: 370px;border: 0px solid red;">
                            <li class="nav-item active" style="margin-right: 5px">
                                <a class="nav-link" href="{{PAGES.index.url}}">{{PAGES.index.title}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{PAGES.articles.url}}">{{PAGES.articles.title}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{PAGES.code.url}}">{{PAGES.code.title}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{PAGES.team.url}}">{{PAGES.team.title}}</a>
                            </li>
                            <li class="nav-item" style="margin-left: 5px; margin-right: 5px">
                                <a class="nav-link" href="{{PAGES.whitepaper.url}}">{{PAGES.whitepaper.title}}</a>
                            </li>
                        </ul>
                        
                        <h1 class="nav-item main-brand-link">
                            {% block logo %}{% endblock %}
                            <a href="{{PAGES.index.url}}">{{SITE_TITLE}}</a><br/>
                            <small><i class="fa fa-angle-double-right"></i>  {% block subtitle %}{% endblock %} <i class="fa fa-angle-double-left"></i></small>
                        </h1>

                        <ul class="navbar-nav navbar-right" style="min-width:370px;border: 0px solid red;">
                            <li class="nav-item" style="margin-left: 15px">
                                <a class="nav-link" href="{{PAGES.apply.url}}">{{PAGES.apply.title}}</a>
                            </li>
                            <li class="nav-item" style="margin-left: 25px;"">
                                <a class="beta-btn nav-link btn btn-success btn-shadow" href="{{BLITZKA.Signup.url}}">
                                    ♠<span class="diamond">♦</span>
                                    Play (<span class="neon">BETA</span>)&nbsp;
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </header>
        {% endblock %}
        

        {% block outer %}
        <article>
            {% block article %}
            {% endblock %}
        </article>
        {% endblock %}

        {% block footer %}
        <footer>
            {% block footerbefore %}
            {% endblock %}
            <div class="container text-center text-darkgrey">
                {% block footersocial %}
                    <br/><br/>
                    {% include 'social.html' %}
                {% endblock %}

                {% block footercopyright %}
                    <br/>
                    <small>OddSlingers © 2018</small>
                    <br/>
                {% endblock %}

            </div>
            {% block footerafter %}
            {% endblock %}
        </footer>
        {% endblock %}

        <script src="/static/squares.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    
        {% block bodyafter %}
        {% endblock %}
    </body>
</html>
