<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{SITE_TITLE}} | {% block title %}Home{% endblock %}</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One" >
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        
        <link rel="stylesheet" href="/static/bootstrap4-pleasant.min.css">
        <link rel="stylesheet" href="/static/main.css">

        <link rel="canonical" href="https://{{SITE_DOMAIN}}{{request.path}}"/> 

        {% block head %}
        {% endblock %}
    </head>
    
    <body>
        {% block beforebody %}
        {% endblock %}
        
        {% block header %}
        <header>
            {% block headerbefore %}
            {% endblock %}<nav class="navbar navbar-expand-sm navbar-light">
                <div class="nav-bar-wrapper mx-sm-auto d-sm-flex d-block flex-sm-nowrap">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="{{PAGES.index.url}}">
                        {% block logo %}
                            <center>
                                <img src="static/oddslingers.png"/>
                            </center>
                        {% endblock %}
                        <h1>{{SITE_TITLE}}</h1>
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav navbar-left ">
                            <li class="nav-item">
                                <a class="nav-link" href="{{PAGES.index.url}}">{{PAGES.index.title}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{PAGES.articles.url}}">{{PAGES.articles.title}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{PAGES.community.url}}">{{PAGES.community.title}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{PAGES.whitepaper.url}}">{{PAGES.whitepaper.title}}</a>
                            </li>
                        </ul>
                        
                        <h1 class="nav-item main-brand-link d-none d-sm-block {% block enableLogo %}{% endblock %}">
                            {{ self.logo() }}
                            <a href="{{PAGES.index.url}}">{{SITE_TITLE}}</a><br/>
                            <small><i class="fa fa-angle-double-right"></i>  {{ self.subtitle() }} <i class="fa fa-angle-double-left"></i></small>
                        </h1>

                        <ul class="navbar-nav navbar-right">
                            <li class="nav-item">
                                <a class="nav-link" href="{{PAGES.code.url}}">{{PAGES.code.title}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{PAGES.stream.url}}">{{PAGES.stream.title}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="beta-btn nav-link btn btn-success btn-shadow" href="{{BLITZKA.Signup.url}}" onmousedown="this.classList.add('hinge'), true">
                                    ♠<span class="diamond">♦</span>
                                    Play (<span class="neon-hover">BETA</span>)&nbsp;
                                </a>
                            </li>
                        </ul>
            </div>
            </nav></header>
        {% endblock %}
        

        {% block outer %}
        <article>
            {% block article %}
            {% endblock %}
        </article>
        {% endblock %}

        {% block footer %}
        <footer>
            {% block footerbefore %}
            {% endblock %}
            <div class="container text-center text-darkgrey">
                {% block footersocial %}
                    {% include 'social.html' %}
                {% endblock %}
                {% block footercopyright %}<small>OddSlingers © 2018</small>{% endblock %}
            </div>
            {% block footerafter %}
            {% endblock %}
        </footer>
        {% endblock %}

        <script src="/static/squares.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

        {% block bodyafter %}
        {% endblock %}

        <!-- Matomo -->
        <script type="text/javascript">
          var _paq = _paq || [];
          /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
            var u="//nicksweeting.com/piwik/";
            _paq.push(['setTrackerUrl', u+'piwik.php']);
            _paq.push(['setSiteId', '14']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
          })();
        </script>
        <!-- End Matomo Code -->
    </body>
</html>
