{% extends "base.html" %}

{% block title %}Code &amp; Open Source{% endblock %}

{% block article %}
    <h1 class="page-header">Our Projects &amp; Open Source Work</h1>

    <br/><br/><br/>

    <div class="row">
        <div class="col-md-3 text-center">
            <h3>warped-time</h3>
            <p>abc</p>
            <h3>django-channels-router</h3>
            <p>abc</p>
        </div>
        <div class="col-md-6 text-center">
            <h2>redux-time</h2>
            <p>abc</p>
        </div>
        <div class="col-md-3 text-center">
            <h3>storycoin</h3>
            <p>abc</p>
            
            <h3>crypto-trader</h3>
            <p>abc</p>
        </div>
    </div>
    <br/><br/><br/><br/>

    <div class="row">
        <div class="col-md-4 text-center">
            
        </div>
        
    </div>
{% endblock %}


{% block footerbefore %}
    <a href="https://github.com/Monadical-SAS" class="btn btn-shadow btn-success" style="background-color: #333; color: white">
        <i class="fa fa-github"></i> Github
    </a>
    &nbsp; 
    <a href="https://twitter.com/OddSlingers" class="btn btn-shadow btn-success" style="background-color: #333; color: white">
        <i class="fa fa-twitter"></i> Twitter
    </a>
    &nbsp; 
    <a href="https://linkedin.com/OddSlingers" class="btn btn-shadow btn-success" style="background-color: #333; color: white">
        <i class="fa fa-linkedin"></i> LinkedIn
    </a>
    <br/><br/>
{% endblock %}
