{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block article %}
    <h1 class="page-header">Our Mission</h1>

    <br/><br/><br/><br/><br/><br/>

    <div class="row">
        <div class="col-md-4">
            <h2>1. Make Poker Fun Again</h2>
            <ul>
                <li>introduce new game variants</li>
                <li>focus on spectator enjoyment</li>
                <li>training modes &amp; pro coaching</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>2. Live-Video Stream It</h2>
            <ul>
                <li>real-time player video &amp; audio + chat</li>
                <li>high-skill players can stream &amp; earn betting revenue</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>3. Allow Spectator Betting</h2>
            <ul>
                <li>real-time cross-booking for poker</li>
                <li>house-odds &amp; P2P market making</li>
                <li>blockchain-backed payments processing</li>
            </ul>
        </div>
    </div>
    <br/><br/><br/><br/>
    <!--
    <div class="row timeline">
        <div class="col-md-4">
            <h2 class="timeline">Soft Launch &amp; Fundraising</h2>
        </div>
        <div class="col-md-4">
            <h2 class="timeline">BETA Testing</h2>
        </div>
        <div class="col-md-4">
            <h2 class="timeline" style="color: #555">2019 Real-money release</h2>
        </div>
    </div>
    <div class="progress ht-tm-element">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <br/>
    <h2 style="font-size: 20px">Development is 65% Complete!</h2>
    -->


    <a style="float: right" href="#"><br/>Read latest news updates...</a>
{% endblock %}
