{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block subtitle %}Our Mission{% endblock %}
{% block enableLogo %}enable-logo{% endblock %}

{% block logo %}
    <center>
        <img src="static/oddslingers.png"/>
    </center>
{% endblock %}

{% block article %}

    <div class="container">
        <div class="row container__steps">
            <div class="container__step col-md-4 text-center">
                <h2 class="icon" style="color:red">♥</h2>
                <h2>1.  Make Poker Fun Again</h2>
                <ul>
                    <li>introduce new game variants</li>
                    <li>focus on spectator enjoyment</li>
                    <li>personalized coaching for beginners</li>
                </ul>               
            </div>
            <div class="container__step col-md-4 text-center">
                <h2 class="icon" ><i class="fa fa-wifi" style="color:333"></i></h2>
                <h2>2. Live-Video Stream It</h2>
                <ul>
                    <li>real-time audio &amp; video + chat</li>
                    <li>high-skill players earn winnings</li>
                    <li>engaging streamers earn revenue</li>
                </ul>
            </div>
            <div class="container__step col-md-4 text-center">
                <h2 class="icon" ><img src="static/chips.png" height="40px"></h2>
                <h2>3. Allow Spectator Betting</h2>
                <ul>
                    <li>house-odds + P2P market making</li>
                    <li>real-time cross-booking on video stream</li>
                    <li>blockchain-backed payments processing</li>
                </ul>
            </div>
        </div>
        <center>
            <a href="{{BLITZKA.Signup.url}}" class="btn beta-btn btn-shadow btn-success">
                <span style="color:black">♠</span>
                <span style="color:red">♦</span>
                Play now with <span class="neon">5,000</span> free chips
                <span style="color:black">♣</span>
                <span style="color:red">♥</span>
            </a>
            <div class="m-4">or</div>
            <a href="{{PAGES.articles.url}}">Read latest news updates...</a>
        </center>
    </div><div class="row">
    </div>
{% endblock %}
