{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block subtitle %}Home{% endblock %}
{% block enableLogo %}enable-logo{% endblock %}

{% block beforebody %}
    <style>
        body {
            /*background-image: url(/static/suitsbg.jpg);*/
            /*background-position: bottom right;*/
            /*background-size: 200px 600px;*/
            /*background-size: 400px 400px;*/
            /*background-repeat: repeat;*/
        }
        .blackcard {
            opacity: 0.7;
            width: 200px;
            height: auto;
        }
        .bg-suits {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            opacity: 0.1;
            width: 100%;
            height: 100%;
            background-image: url(/static/suitsbg.jpg);
            background-size: 400px 400px;
        }
        header .navbar {
            background: rgba(200,200,200,0.3);
            font-size: 18px;
            /*background-image: url(/static/paisley.jpg);*/
        }
        article .container-full {
            max-width: 1400px;
            margin: auto;
            float: none;
            background: #FFF6F1;
            position: relative;
            border-radius: 4px;
            box-shadow: 2px 10px 20px 24px rgba(0,0,0,0.03);
        }
        .row.container__steps {
            padding: 22px;
        }
    </style>

    <div class="bg-suits"></div>
{% endblock %}

{% block article %}
    <div class="container-full">
        <center>
            <br/>
            <h2>Our Mission:</h2><br/>
            <i>To create the most engaging eSports experience to ever hit the poker market.</i>
            <hr style="max-width: 645px"/>
        </center>
        <div class="row container__steps">
            <div class="container__step col-md-4 text-center">
                <h2 class="icon"><img src="static/heart.png" height="90px"></h2>
                <h2>Re-invent the online poker experience.</h2>
                <ul>
                    <li>Create a clean, fast, ad-free experience</li>
                    <li>with personalized progress goals for beginners,</li>
                    <li>private games, and new game variants.</li>
                </ul> 
            </div>
            <div class="container__step col-md-4 text-center">
                <h2 class="icon"><img src="static/club.png" height="90px"></h2>
                <h2>Help pro players earn income from spectators.</h2>
                <ul>
                    <li>Allow entertaining high-skill players to earn</li>
                    <li>income beyond donations. Spectators place bets</li>
                    <li>on favorite streamers, and a cut goes to the player.</li>
                    <li><br/><a href="{{PAGES.whitepaper.url}}">Learn more...</a></li>
                </ul>
            </div>
            <div class="container__step col-md-4 text-center">
                <h2 class="icon"><img src="static/diamond.png" height="90px"></h2>
                <h2>Create a new level of eSports engagement.</h2>
                <ul>
                    <li>Introduce a revolutionary new eSports experience</li>
                    <li>with real-time audio &amp; video + chat, and</li>
                    <li>distributed-ledger-backed bets on video streams.</li>
                </ul>
            </div>
        </div>
        <hr/>
        <center>
            <h2>The OddSlingers Poker Platform [BETA]</h2><br/>
            <i>Works on all devices for free, with no ads, no downloads, and no credit cards needed!</i>
            <hr style="max-width: 645px"/>
        </center>
        <div class="row container__steps">
            <div class="container__step col-md-4 text-center">
                <a href="https://oddslingers.com">
                    <img src="static/ipad-screenshot.png" style="width: 100%; max-width: 360px;"/>
                </a>
            </div>
            <div class="container__step col-md-4 text-center">
                <a href="https://oddslingers.com">
                    <img src="static/logo-blue.jpg" width="100px" style="border-radius: 50%;"/>
                </a>
                <br/><br/>
                Real money games <a href="https://oddslingers.com/faq/">coming soon in 2019!</a>
                <br/><br/>
                <a href="https://oddslingers.com">
                    <img src="static/laptop-screenshot.png" style="width: 120%; max-width: 700px;margin-left: -10%"/>
                </a>
                <br/><br/>
                <b>Public &amp; Private Games</b>
                <br/><br/>
                <b>Cash Tables &amp; Tournaments</b>
                <br/><br/>
                <b>No-Limit Hold'Em, Pot-Limit Omaha, 2/7 Bounty</b>
            </div>
            <div class="container__step col-md-4 text-center">
                <a href="https://oddslingers.com">
                    <img src="static/pixel-screenshot.png" style="width: 100%; max-width: 250px; margin-top: -20px"/>
                </a>
            </div>
        </div>
        <hr/>
        <center>
            <i>Join our free poker platform and play against users in 65 countries!</i><br/>
            <a href="{{BLITZKA.Signup.url}}" class="btn beta-btn btn-shadow btn-success">
                <span style="color:black">♠</span>
                <span style="color:red">♦</span>
                Play now with <b>5,000</b> free chips
                <span style="color:black">♣</span>
                <span style="color:red">♥</span>
            </a>
            <br/>
            <b>2.5 million hands played worldwide.</b><br/>
            <br/>
            <h2 class="icon"><img src="static/squiggle.png" height="130px"></h2>
            <br/><br/>
            {# <a href="{{PAGES.whitepaper.url}}">More info...</a> #}
            {# <br/><br/> #}
            <a href="{{PAGES.articles.url}}">Read latest updates...</a>
            
            <br/><br/>
            <br/><br/>
        </center>
    </div>
{% endblock %}
