{% extends "base.html" %}

{% block headerafter %}
    <canvas class="animated-color-grid" height="40"></canvas>
{% endblock %}

{% block article %}
    {% block post %}
    {% endblock %}

    <div class="post-footer">
        <hr/>
        <div class="infobox">
            </br><br/>
            <a href="https://twitter.com/OddSlingers" class="btn btn-shadow btn-dark btn-success" target="_blank" rel="noopener">
                <i class="fa fa-twitter"></i> Tweet
            </a>
        </div>
        <div class="authorbox">
            <div>
                <br/>
                {{author.name}}<br/>
                <h4>
                    {{author.title}}<br/>
                    <a href="{{author.url}}" target="_blank" rel="noopener">
                        {{author.handle}}
                    </a>
                </h4>
                <h5>Published on <a href="#permalink">{{date}}</a></h5>
            </div>
            <img src="../static/nick.jpg" width="100px"/>
        </div>
        <div class="likebox">
            <a href="#like" name="like">
                <br/>
                <i class="fa fa-heart-o"></i><i class="fa fa-heart"></i><br/>
                <small>Like Post</small>
            </a>
        </div>
        <br/>
        <canvas class="animated-color-grid" height="40"></canvas>
    </div>
{% endblock %}

{% block footerbefore %}
    
{% endblock %}
