{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}
{% block subtitle %}Article{% endblock %}

{% block article %}
    <canvas class="animated-color-grid" height="100"></canvas>
    <br/><br/>
    <div class="container">
        <small><a href="{{PAGES.articles.url}}"> Articles</a></small>
        {% block post %}
            <iframe src="{{iframe}}" style="width:100%; height: {{height or '200vh'}}"></iframe>
        {% endblock %}

        <div class="post-footer">
            <hr/>
            <div class="infobox">
                </br><br/>
                <a href="https://twitter.com/OddSlingers" class="btn btn-shadow btn-dark btn-success" target="_blank" rel="noopener">
                    <i class="fa fa-twitter"></i> Tweet
                </a>
            </div>
            <div class="authorbox">
                <div style="padding-top: 10px">
                    {{author.name}}<br/>
                    <h4>
                        {{author.title}}
                        <br/><br/>
                        <a href="{{author.url}}" target="_blank" rel="noopener">
                            {{author.handle}}
                        </a><br/><br/>
                    </h4>
                    <h5>Published on <a href="#permalink">{{date}}</a></h5>
                </div>
                <img src="{{author.image}}" width="100px"/>
                <br/><br/>
            </div>
            <div class="likebox">
                <a href="#like" name="like">
                    <br/>
                    <i class="fa fa-heart-o"></i><i class="fa fa-heart"></i><br/>
                    <small>Like Post</small>
                </a>
            </div>
            <br/>
        </div>
    </div>
    <canvas class="animated-color-grid" height="40"></canvas>
{% endblock %}

{% block footerbefore %}
    
{% endblock %}
