{% extends "base.html" %}

{% block title %}Team{% endblock %}

{% block article %}
    <h1 class="page-header">Our Team</h1>

    <br/><br/>

    <div class="row">
        <div class="col-md-6 text-center">
            <h2>Max McCrea</h2>
            <img src="/static/max.jpg" height="300"/>
        </div>
        <div class="col-md-6 text-center">
            <h2>Nick Sweeting</h2>
            <img src="/static/nick.jpg" height="300"/>
        </div>
    </div>
    <br/><br/><br/><br/>

    <div class="row">
        <div class="col-md-4 text-center">
            <h2>Ana Gonzalez</h2>
            <img src="/static/ana.jpg" width="300px"/>
        </div>
        <div class="col-md-4 text-center">
            <h2>Juan Diego Garcia</h2>
            <img src="/static/juan.jpg" width="300px"/>
        </div>
        <div class="col-md-4 text-center">
            <h2>Milton Lenis</h2>
            <img src="/static/milton.jpg" width="300px"/>
        </div>
    </div>

{% endblock %}

