{% extends "base.html" %}

{% block title %}Whitepaper{% endblock %}
{% block subtitle %}Whitepaper{% endblock %}
{% block logo %}
    <center>
        <img src="static/oddslingers.png"/>
    </center>
{% endblock %}
{% block article %}
    <style>
        body {
            background-color: #f6f6f6 !important;
        }
        header nav.navbar {
            background: #f6f6f6;
        }
    </style>
    <br/>
    <br/>
    <div style="max-width: 670px; margin: auto; float: none; font-size: 1.2em">
        <h2>About Us</h2>
        <hr/>
        <center>
            <img src="static/oddslingers.png" style="height: 120px;"/>
        </center>
        &nbsp; &nbsp; &nbsp; <b>OddSlingers is a free, no-rake, online poker platform currently in public beta.  We offer play-chips games
        at the moment (no real money).</b>
        <br/><br/>
        OddSlingers was founded out of the desire for a clean, secure, poker experience that just works without 
        needing to install any clunky software.
        <br/><br/>
        Our online <a href="https://oddslingers.com">poker platform</a> works on mobile, tablet, and desktops, and can be used to play against
        our worldwide userbase without needing to download anything.
        We support: Texas Hold'Em, Omahah, and 2-7 Bountry (both cash games and tournaments), with more variants on the way!
        <br/><br/>
        New users receive <b class="neon">&nbsp;5,000&nbsp;</b> free chips, and credit cards are not required.
        <br/><br/>
        While the site offers play-chips only currently, we plan to release real-money games
        in the near future once we've obtained our gaming license.
        <br/><br/>
        We have many features coming soon, including video streaming, single-player education modes, 
        and side-betting on games.<br/>
        See our whitepaper for more information...
    </div>
    <center>
        <a href="mailto:n+whitepaper@oddslingers.com" target="_blank" class="btn btn-info" style="font-size: 1.2em; color: rgba(246, 246, 246, 0.9);">
            &nbsp;&nbsp;&nbsp; Request Whitepaper &nbsp;<img src="static/external.png" style="height:20px; vertical-align: middle;"/> &nbsp;<br/>
        </a> &nbsp; &nbsp;
        <a href="mailto:n+deck@oddslingers.com" target="_blank" class="btn btn-warning" style="font-size: 1.2em; color: rgba(246, 246, 246, 0.9);">
            &nbsp;&nbsp;&nbsp; Request Deck &nbsp;<img src="static/external.png" style="height:20px; vertical-align: middle;"/> &nbsp;<br/>
        </a>
        <br/><br/>
        <small>Or email us at n+invest@oddslingers.com to get in touch.</small>
    </center>


    <center class="whitepaper">
        <hr/>
        <br/>
        Sign up to our <a href="{{PAGES.community.url}}">newsletter</a> for updates,<br/>
        or read our most recent <a href="{{PAGES.articles.url}}">blog articles</a>.
        <br/>
        <a class="beta-btn nav-link btn btn-lg btn-success btn-shadow" href="{{BLITZKA.Signup.url}}">
            <i>♠</i> <em>♦</em> &nbsp;
            Play now with <span class="neon">5,000</span> free chips &nbsp;
            <i>♣</i> <em>♥</em>
        </a>
        <div class="library">
            <a href="https://github.com/Monadical-SAS" class="btn btn-shadow btn-success btn-dark">
                <i class="fa fa-github"></i> Github
            </a>
            &nbsp; 
            <a href="https://twitter.com/OddSlingers" class="btn btn-shadow btn-success btn-outline-secondary btn-dark">
                <i class="fa fa-twitter"></i> Twitter
            </a>
            &nbsp; 
            <a href="https://linkedin.com/OddSlingers" class="btn btn-shadow btn-success btn-outline-secondary btn-dark">
                <i class="fa fa-linkedin"></i> LinkedIn
            </a>
        </div>
    </center>

    <canvas class="animated-color-grid" height="100"></canvas>
{% endblock %}
